* {
  box-sizing: border-box;
  --grey: hsl(201, 12%, 57%);
  --blue-grey: #4b7c97;
  --dark-blue-grey: #2e4964;
  --white-text: #eff4f6;
  --light-grey: hsl(203, 15%, 47%);
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 247, 250);
}

.card {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  box-shadow: 0px 0px 10px 0px #A9AAA9;
  border-radius: 10px;
  background: #fff;
  width: 500px;
  height: 200px;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
  padding: 0 15px;
  position: relative;
}

.title {
  color: var(--dark-blue-grey);
  margin-bottom: 0;
  padding-bottom: 0;
}

.sub_text {
  color: var(--grey);
  font-size: 12px;
  padding-top: 5px;
  margin: 0;
}

.price {
  position: absolute;
  right: 20px;
  top: 0px;
  font-weight: bold;
}

.description {
  font-size: 13px;
  color: var(--grey);
  margin-top: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.button_area {
  display: flex;
  margin-top: 50px;
}

.button {
  font-size: 12px;
  cursor: pointer;
}

#delete {
  background: #fff;
  border: none;
  color: var(--blue-grey);
  flex: 2;
  text-align: left;
}

#edit {
  background: rgb(234, 243, 247);
  border: none;
  color: var(--blue-grey);
  border-radius: 5px;
  padding: 5px 10px;
}

#publish {
  color: var(--white-text);
  background: rgb(57, 126, 155);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
}